@model WebApplication1.Models.Aluno
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Aluno</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Aluno</h1>
        <p><strong>Nome:</strong> @Model.Nome</p>
        <p><strong>Idade:</strong> @Model.Idade</p>
        <p><strong>Curso:</strong> @Model.Curso</p>
    </div>
</body>
</html>